main {
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*                HEADER                  */

header.months, header.last-months {
    min-height: 4rem;
    background-color: transparent;
    border-bottom: 0.4rem solid #474747;
    padding: 0;
}

header.months .title span, header.months, header.last-months .title span {
    font-size: 1.8rem;
    font-weight: 800;
    color: #474747;
}

header.months #months {
    background-color: #474747;
    color: #fff;
    padding: 0.3rem 1rem;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.3rem;
}

/*                SECTION LEFT                  */

section.container {
    display: flex;
    width: 100%;
}

section.container .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.container .left .title {
    width: 100%;
    text-align: center;
}

section.container .left .title span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #474747;
}

section.container .left form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

section.container .left form .input-group {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

section.container .left form .input-group label {
    font-size: 1.1rem;
    color: #232323;
    font-weight: 500;
}

section.container .left form .input-group input, section.container .left form .input-group select {
    background-color: #353535;
    box-shadow: 0px 0px 3px 1px #232323;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

section.container .left form .btn {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

section.container .left form .btn button {
    background-color: #353535;
    box-shadow: 0px 0px 2px 1px #232323;
    border: none;
    width: 40%;
    padding: 0.7rem 0;
    color: #fff;
    margin-top: 1rem;
    border-radius: 0.5rem;
}


/*                SECTION RIGHT                  */


section.container .right {
    width: 50%;
    display: flex;
    justify-content: center;
}

section.container .right .summary {
    width: 80%;
    height: 70vh;
    background-color: #292929;
    box-shadow: 0px 0px 5px 1px #404040;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
}

section.container .right .summary::-webkit-scrollbar {
    width: 0.5rem;
}

section.container .right .summary::-webkit-scrollbar-track {
    background-color: #000000;
}

section.container .right .summary::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
}

section.container .right .summary .balance {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

section.container .right .summary .balance span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

section.container .right .summary .btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

section.container .right .summary .btns button {
    width: 40%;
    background-color: #353535;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 5px 1px #232323;
    border-radius: 0.4rem;
}

section.container .right .summary .btns button.earnings {
    background-color: rgb(0, 131, 0);
}

section.container .right .summary .btns button.expenses {
    background-color: rgb(221, 51, 51);
}

section.container .right .summary .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

section.container .right .summary .list .item {
    width: 90%;
    background-color: #353535;
    box-shadow: 0px 0px 5px 1px #232323;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    gap: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

section.container .right .summary .list .item .name {
    width: 70%;
    text-align: flex-start;
}

section.container .right .summary .list .item .name span {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

section.container .right .summary .list .item .value-earning, section.container .right .summary .list .item .value-expense {
    width: 30%;
    text-align: end;
}

section.container .right .summary .list .item .value-earning span {
    font-size: 1.1rem;
    color: #15f512;
    font-weight: 500;
}

section.container .right .summary .list .item .value-expense span {
    font-size: 1.1rem;
    color: red;
    font-weight: 500;
}

section.container .right .summary .list .item .delete{
    color: #fff;
    cursor: pointer;
}




